{%- liquid
  assign container_class = 'bg-contrast/80 text-primary'
  assign input_class = 'focus:border-primary/20'

  assign header_tag = 'div'
  if section.settings.enable_sticky_header
    assign header_tag = 'sticky-header'
  endif
-%}

<{{ header_tag }} client:idle>
  <header
    role="banner"
    style="{% if section.settings.enable_background_color %}background: {{ section.settings.background_color }};{% endif %}"
    class="{{ container_class }} {% if section.settings.enable_background_color %}fixed{% endif %} {% if section.settings.enable_blur_header %}backdrop-blur-lg{% endif %} h-nav flex w-full items-center justify-between gap-4 px-4 leading-none md:px-8 lg:gap-8 lg:px-12 lg:py-4"
  >
    <div class="flex flex-1 items-center gap-2 lg:gap-4">
      {%- content_for 'block', type: '_header-menu-mobile', id: 'header-menu-mobile' -%}
      <form
        action="{{ routes.search_url }}"
        method="get"
        role="search"
        class="hidden w-full items-center gap-2 sm:flex"
      >
        <input type="hidden" name="type" value="product">
        <button type="submit" class="w-30 flex cursor-pointer items-center justify-center gap-3">
          {% render 'icon-search' %}
          <span>{{ 'general.search.search' | t }}</span>
        </button>
      </form>
      {% comment %} {%- content_for 'block', type: '_header-menu', id: 'header-menu' -%} {% endcomment %}
    </div>

    <div class="flex flex-1 items-center justify-center">
      {%- content_for 'block', type: '_header-logo', id: 'header-logo' -%}
    </div>

    <div class="flex flex-1 items-center justify-end gap-2 lg:gap-4">
      {% render 'button',
        content: 'Visite nosso blog',
        href: '/blog',
        variant: 'link',
        custom_classes: 'font-normal hidden xl:flex',
        icon: 'icon-chat'
      %}
      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="flex h-8 w-8 items-center justify-center"
        >
          {% render 'icon-account' %}
          <span class="sr-only">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
      <a
        href="{{ routes.cart_url }}"
        class="lg:h-26 lg:w-26 relative flex h-8 w-8 items-center justify-center gap-2"
        id="cart-icon-bubble"
      >
        {%- render 'cart-icon-bubble' -%}
        <span class="hidden lg:inline">Carrinho</span>
      </a>
    </div>
  </header>
</{{ header_tag }}>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "z-20",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "Ativar cabeçalho fixo",
      "info": "O cabeçalho é exibido na tela conforme os clientes rolam a página para cima."
    },
    {
      "type": "checkbox",
      "id": "enable_background_color",
      "label": "Ativar modo de transparência",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_blur_header",
      "label": "Efeito de desfoque no cabeçalho",
      "default": false
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Cor de fundo",
      "default": "linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 100%)",
      "visible_if": "{{ section.settings.enable_background_color == true }}"
    }
  ]
}
{% endschema %}
